/* *,
    /* ::before
    ::after{
        box-sizing:border-box ;
        border-width: 0;
        border-style: solid;
    } */ 
   #form-btn{
       margin-top: 20px;
    }

    .input-form{
        display: flex;
        margin-top: 20px;
    }
    
    #is-valid{
        outline: 2px solid green;
    }

    #not-valid{
        outline: 2px solid red;
    }


    /* pimero computadorasm despues mobile(max-width)  */
    @media (max-width: 768px) {    
        .input-form{
            display: flex;
            flex-direction: column;
        }
    }